In [3]:
#Menggunakan set
setbp = {'jennie', 'rose', 'jisoo', 'lisa'}
print(setbp)
print(type(setbp))

{'lisa', 'jisoo', 'jennie', 'rose'}
<class 'set'>

In [2]:
setbp = {'jennie', 'rose', 'jisoo', 'lisa'}
for x in setbp:
    print(x)

lisa
jisoo
jennie
rose

In [ ]:
# mngecek variabel dalam set
setbp = {'jennie', 'rose', 'jisoo', 'lisa'}
if 'jisoo' in setbp:
    print('ada dong')

ada dong

In [9]:
# menentukan jumlah item dalam set
setbp = {'jennie', 'rose', 'lisa', 'jisoo'}
print(len(setbp))

4

In [25]:
setbp = {'jennie', 'rose', 'lisa', 'jisoo'}
setbp.add('ryujin')
print(setbp)

setbp.update({'minji', 'ruka'})
print(setbp)

{'jisoo', 'ryujin', 'lisa', 'jennie', 'rose'}
{'jisoo', 'ryujin', 'lisa', 'jennie', 'minji', 'ruka', 'rose'}

In [ ]:
# menghapus satu elemen dalam set
rank = {'grandmaster', 'epic', 'legend', 'mythic', 'mythic glory'}
rank.remove('grandmaster')
print(rank)

# menghapus dengan fungsi pop()
greece = {'zeus', 'hades', 'poseidon', 'kronos', 'kratos'}
greece.pop()
print(greece)

# menghapus set dengan fungsi clear()
greece = {'zeus', 'hades', 'poseidon', 'kronos', 'kratos'}
greece.clear()
print(greece)

{'mythic glory', 'legend', 'mythic', 'epic'}
{'mythic glory', 'mythic', 'epic'}

{'zeus', 'poseidon', 'kratos', 'kronos'}

In [34]:
# menghapus set dengan fungsi clear()
greece = {'zeus', 'hades', 'poseidon', 'kronos', 'kratos'}
greece.clear()
print(greece)

del greece
print(greece)

set()

NameError: name 'greece' is not defined

In [36]:
# menggabungkan set
# menggunakan union()
rank = {'grandmaster', 'epic', 'legend', 'mythic', 'mythic glory'}
bintang = {1, 2, 3, 4, 5}

rank_bintang = rank.union(bintang)
print(rank_bintang)

# menggunakan update
rank.update(bintang)
print(rank)

{'legend', 1, 2, 'grandmaster', 3, 4, 5, 'epic', 'mythic glory', 'mythic'}
{'legend', 1, 2, 'grandmaster', 3, 4, 5, 'epic', 'mythic glory', 'mythic'}

In [38]:
# dictionary
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}


print(overview)
print(type(overview))

{'film': 'high school musical', 'tanggal rilis': '20 januari', 'tahun': '2006'}
<class 'dict'>

In [43]:
# mengakses elemen dalam dictionary
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}
x = overview['film']
print(x)

y = overview['tanggal rilis']
print(y)


x = overview.get('film')
print(x)
y = overview.get('tanggal rilis')
print(y)

high school musical
20 januari
high school musical
20 januari

In [ ]:
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}
print('film awal', overview.get('film'))
overview['film'] = 'max out'
print('film diubah', overview.get('film'))

overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}

for x in overview: 
    print(overview[x])

film awal high school musical
film diubah max out

In [48]:
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}

for x in overview: 
    print(overview[x])

high school musical
20 januari
2006

In [51]:
# menampilkan loop dengan fungsi values
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}

for x in overview.values():
    print(x)

high school musical
20 januari
2006

In [54]:
# menampilkan loop dengan fungsi items
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}

for x, y in overview.items():
    print(x, y)

film high school musical
tanggal rilis 20 januari
tahun 2006

In [56]:
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}

if 'film' in overview:
    print('ya film ada di overview')

ya film ada di overview

In [57]:
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}

print(len(overview))

3

In [61]:
# menambahkan item ke dictionary
kamusdiri = {'nama': 'Elang', 'umur': '20', 'hobi': 'mengaji', 'rumah': '3'}
kamusdiri['mobil'] = '3'
print(kamusdiri)

# menghapus item dictionary dengan fungsi pop()
kamusdiri.pop('hobi')
print(kamusdiri)

{'nama': 'Elang', 'umur': '20', 'hobi': 'mengaji', 'rumah': '3', 'mobil': '3'}
{'nama': 'Elang', 'umur': '20', 'rumah': '3', 'mobil': '3'}

In [ ]:
# menghapus item dictionary dengan fungsi pop()
kamusdiri.pop('hobi')
print(kamusdiri)

# menghapus item terakhir dengan popitem()
kamusdiri.popitem()
print(kamusdiri)

# mengosongkan deictionary dengan fungsi clear
kamusdiri.clear()
print(kamusdiri)

KeyError: 'popitem(): dictionary is empty'

In [65]:
# menghapus dictionary dengan del
del kamusdiri
print(kamusdiri)

NameError: name 'kamusdiri' is not defined

In [68]:
# mengcopy dictionary
kamusdiri = {'nama': 'Elang',
             'umur': '20',
             'rumah': '3',
             'mobil': '3'}
print(kamusdiri)

{'nama': 'Elang', 'umur': '20', 'rumah': '3', 'mobil': '3'}

In [69]:
kamusdiri2 = kamusdiri.copy()
print(kamusdiri2)

{'nama': 'Elang', 'umur': '20', 'rumah': '3', 'mobil': '3'}

In [70]:
kamusdiri3 = dict(kamusdiri)
print(kamusdiri3)

{'nama': 'Elang', 'umur': '20', 'rumah': '3', 'mobil': '3'}

In [ ]:
# membuat dictionary bersarang
datadiri = {'orang1': {
            'nama': 'tasya',
            'idol': 'Twice', 
            'hobi': 'masak', 
            'umur': '19'},


            'orang2': {
            'nama': 'galang', 
            'hobi': 'masak',
            'umur': '19'},

            'orang3': {
                
            }
            
            }

In [ ]:
senin = {
        'matkul': 'kalkulus',
        'sks': 3
}
selasa = {
        'matkul': 'aljabar linear',
        'sks': 2
}
rabu = {
        'matkul': 'kimia dasar',
        'sks': 2
}

jadwal = {
        'senin': senin,
        'selasa' : selasa,
        'rabu' : rabu
}

print(jadwal)

{'senin': {'matkul': 'aljabar linear', 'sks': 2}, 'rabu': {'matkul': 'kimia dasar', 'sks': 2}}