In [1]:
print("Hello world")

Hello world

In [ ]:
# List
fruits = ['apel', 'pisang', 'rambutan', 'delima']
print(fruits)
print(type(fruits))

# Mengakses List Value
print(fruits)
print(fruits[1])

# Mengakses value dengan index negatif
print(fruits)
print(fruits[-1])

['apel', 'pisang', 'rambutan', 'delima']
<class 'list'>

In [ ]:
# Mengakses rentang indeks (=< x <)
fruits = ['apel', 'pisang', 'rambutan', 'delima']
print(fruits[1:3])

# rentang indeks negatif
print(fruits)
print(fruits[-3:-1])

['pisang', 'rambutan']

In [17]:
# mengubah nilai dalam list
fruits = ['apel', 'pisang', 'rambutan', 'delima']
fruits[0] = 'apple'
fruits

['apple', 'pisang', 'rambutan', 'delima']

In [19]:
# Perulangan 
for fruit in fruits:
    print(fruit)

apple
pisang
rambutan
delima

In [ ]:
# mengeccek kebedaraan sebuah value dalam list
fruits = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']

if 'mangga' in fruits:
    print('mangga ada dalam list fruits')
else :
    print('buah naga tidak ada dalam list')

mangga ada dalam list fruits

In [27]:
# menenrukan jumlah komponen dalam lit dengan menggunakan fungsi len()

print(fruits)
print(len(fruits))

['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
6

In [29]:
# menambahkan iten dalam list
fruits = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
fruits.append('mangga')
print(fruits)

['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga', 'mangga']

In [32]:
# fungsi insert
fruits = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
fruits.insert(2, 'mangga')
print(fruits)

['apel', 'pisang', 'mangga', 'rambutan', 'delima', 'buah naga', 'mangga']

In [11]:
# mengghilangkan item dalam lust 
fruits = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
fruits.remove('delima')
print(fruits)

['apel', 'pisang', 'rambutan', 'buah naga', 'mangga']

In [12]:
# pop
fruits = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
fruits.pop(0)
print(fruits)

['pisang', 'rambutan', 'delima', 'buah naga', 'mangga']

In [13]:

# del
fruits = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
del fruits[1]
print(fruits)

['apel', 'rambutan', 'delima', 'buah naga', 'mangga']

In [14]:
fruits = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
print(fruits)
del fruits
print(fruits)

['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']

NameError: name 'fruits' is not defined

In [46]:
# clear
fruits = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
fruits.clear()
print(fruits)

[]

In [48]:
# Meng-copy list
fruits1 = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
fruits2 = fruits1

print(fruits1)
print(fruits2)

['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']

In [50]:
fruits1[0] = 'mangga'
print(fruits1)
print(fruits2)

['mangga', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
['mangga', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']

In [52]:
# copy 
fruits1 = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
fruits2 = fruits1.copy()

print(fruits1)
print(fruits2)

['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']

In [54]:
fruits1[0] = 'mangga'

print(fruits1)
print(fruits2)

['mangga', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']

In [56]:
# list
fruits1 = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
fruits2 = list(fruits1)

print(fruits1)
print(fruits2)

['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']

In [58]:
fruits1[0] = 'mangga'

print(fruits1)
print(fruits2)

['mangga', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']

In [62]:
# Menggabungkan dua list
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]

letters += numbers
print(letters)

['a', 'b', 'c', 1, 2, 3]

In [64]:
# append

letters = ['a', 'b', 'c']
numbers = [1, 2, 3]

for number in numbers:
    letters.append(number)

print(letters)

['a', 'b', 'c', 1, 2, 3]

In [66]:
# extend
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]

letters.extend(numbers)
letters

['a', 'b', 'c', 1, 2, 3]

In [15]:
# konstruktor list
thislist = list(('apple', 'banana'))
print(thislist)
print(type(thislist)) 

dapat = "saya"
print(list(dapat))

['apple', 'banana']
<class 'list'>
['s', 'a', 'y', 'a']

In [72]:
# reverse
numbers = [1, 2, 3, 4, 5]
numbers.reverse()
numbers

[5, 4, 3, 2, 1]

In [78]:
# sort
numbers = [1,2 ,3 ,7, 4, 5]
numbers.sort(reverse=True)
numbers

[7, 5, 4, 3, 2, 1]

In [82]:
fruits = ['apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga']
fruits.sort()
fruits

['apel', 'buah naga', 'delima', 'mangga', 'pisang', 'rambutan']

In [85]:
fruits = ('apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga')
print(fruits)
print(type(fruits))

('apel', 'pisang', 'rambutan', 'delima', 'buah naga', 'mangga')
<class 'tuple'>

In [17]:
cars = ('sedan', 'truk', 'bis', 'jeep', 'suv')
print (cars[2])
print(cars[1:3])

bis
('truk', 'bis')

In [ ]:
# indeks negatif
cars[-2]

'jeep'

In [18]:
cars = ('sedan', 'truk', 'bis', 'jeep', 'suv')
# rentang indeks
cars[1:3]

('truk', 'bis')

In [95]:
# rentang indeks negatif 
cars[-3:-1]

('bis', 'jeep')

In [19]:
# mengubah item dalam tuple
cars = ('sedan', 'truk', 'bis', 'jeep', 'suv')
# cars[0] = 'mini fan'

cars = list(cars)

# ubah nilai
cars[0] = 'mini van'

cars = tuple(cars)
cars

('mini van', 'truk', 'bis', 'jeep', 'suv')

In [ ]:
# menampilkan tuple
cars = ('sedan', 'truk', 'bis', 'jeep', 'suv')

for car in cars:
    print(car)

sedan
truk
bis
jeep
suv

In [104]:
# mengecek tuple 
cars = ('sedan', 'truk', 'bis', 'jeep', 'suv')

if  'SEDAN' in cars:
    print('sedan ada dalam cars')

else:
    print('sedan tidak ada dalam cars')

sedan tidak ada dalam cars

In [ ]:
# menghitung jumlah dalam tuple
cars = ('sedan', 'truk', 'bis', 'jeep', 'suv')
len(cars)

5

In [ ]:
# Menambahkan item ke dalam tuple
cars[1] = ('van')

cars

TypeError: 'tuple' object does not support item assignment

In [ ]:
# menghapus item dalam tuple
cars = ('sedan', 'truk', 'bis', 'jeep', 'suv')
# del cars[0]

del cars
cars

TypeError: 'tuple' object doesn't support item deletion

In [2]:
cars = ['sedan', 'truk', 'bis', 'jeep', 'suv']

In [3]:
#Penulisan List dan Pengakses item dengan indeks
member = ["Satu", "Dua", "Tiga"] #mengggunakan kurung siku print(member)
print(type (member))

#Menampilkan indeks dari dan kiri ke kanan
print(member[0]) #menampilkan indeks

#menampilkan indeks dari -1 dan kanan ke kiri
print(member[-2])
print(member[-1])

<class 'list'>
Satu
Dua
Tiga

In [4]:
# rentang indeks
# rentang indeks positif

member = ["satu", "dua", "tiga", "empat"]
print(member)
print(member[0:2])
print(member[ :3])
print(member[2: ])

['satu', 'dua', 'tiga', 'empat']
['satu', 'dua']
['satu', 'dua', 'tiga']
['tiga', 'empat']

In [5]:
# rentang indeks negatif
member = ["satu", "dua", "tiga", "empat"]
print(member[-3:-1])

['dua', 'tiga']

In [7]:
# mengubah nilai item

anggota = ["satu", "dua", "tiga"]
anggota[1] = "empat" # mengubah indeks ke-1
print(anggota)

['satu', 'empat', 'tiga']

In [9]:
# Perulangan pada list

member = ["satu", "dua", "tiga", "empat"]

for NCT in member:
    print(NCT)

satu
dua
tiga
empat

In [10]:
# mengecek keberadaan sebuah item dalam list
actors = ["wang an yu", "cheng yi", "zhang ling he", "cheng lei"]

if "cheng yi" in actors:
    print("yes, 'cheng yi' is in list actors")

yes, 'cheng yi' is in list actors