In [4]:
print('Hello World')

Hello World    as1

In [ ]:
# Type Data Boolean

a = True
b = False

print(a)

print(type(a))

True
<class 'bool'>

In [17]:
# Tipe data string

a = 'Ayo Belajar Python'

print(a)

print(type(a))

Ayo Belajar Python
<class 'str'>

In [19]:
# Tipe data integer

a = 12

print(a)

print(type(a))

12
<class 'int'>

In [21]:
# Tipe data float

a = 12.5

print(a)

print(type(a))

12.5
<class 'float'>

In [23]:
# Tipe data complex

a = 3 + 9j

print(a)
print(type(a))

(3+9j)
<class 'complex'>

In [24]:
# Tipe data hexadecimal

hexa = 0xFF

print(hexa)

print(type(hexa))

255
<class 'int'>

In [1]:
# Array

# List
numbers = [1, 2, 3, 4, 5]
print(numbers)
print(type(numbers))

[1, 2, 3, 4, 5]
<class 'list'>

In [2]:
# Tuple
numbers = (1,2, 3, 4, 5)
print(numbers)
print(type(numbers))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
# Set
numbers = {1, 2, 3, 4, 5}
print(numbers)
print(type(numbers))

{1, 2, 3, 4, 5}
<class 'set'>

In [28]:
myList = ['saya', 2, 3.44, 4+9j]
print(myList)

['saya', 2, 3.44, (4+9j)]

In [33]:
# Tipe Data Dictionary

mahasiswa = {
    "nama" : 'alpan',
    'sks'  : 100,
    'semester' : [1, 2, 3]

}

# print(mahasiswa['nama'])

print(mahasiswa)
print(type(mahasiswa))

{'nama': 'alpan', 'sks': 100, 'semester': [1, 2, 3]}
<class 'dict'>

In [ ]:
# konversi tipe data
x = 11
y = 1.12
z = 88j

print ("x",x, "TIpe x adalah", type(x) )
print ("y",y, "TIpe x adalah", type(y) )
print ("z",z, "TIpe x adalah", type(z) )

x 11 TIpe x adalah <class 'int'>
x 1.12 TIpe x adalah <class 'float'>
x 88j TIpe x adalah <class 'complex'>

In [6]:
# Konversi Tipe Data

a = 1
b = 2.5
c = 9j

# int -> float
print(float(a))
print(type(float(a)))

# float -> int
print(int(b))
print(type(int(b)))

# int -> complex
print(complex(a))
print(type(complex(a)))

# complex -> int
# print(int(c))

1.0
<class 'float'>
2
<class 'int'>
(1+0j)
<class 'complex'>

In [73]:
# random

import random

acak = random.randint(10, 100)

print(acak)

85

In [ ]:
# membuat nama variabel yang legal

myvar = 'Budi'
my_var = 'Budi'
_my_var = 'Budi' 
myVar = 'Budi'
MYVAR = 'Budi'
myvar2 = 'Budi'

In [ ]:
# nama Variabel yang salah 
# 2myvar = 'Budi'
# my-var = 'budi'
my var = 'budi'

SyntaxError: invalid syntax (1482243341.py, line 4)

In [ ]:
# Perbedaan Menggabungkan teks menggunakan + dan , 
kata = 'keren'
print('python adalah bahasa yang ' + kata)
print('python adalah bahasa yang' , kata)

python adalah bahasa yang keren
python adalah bahasa yang keren

In [ ]:
print('python adalah bahasa yang ' + str(5))
print('python adalah bahasa yang' , 5)

# perbedaan menggunakan , dan +

python adalah bahasa yang 5
python adalah bahasa yang 5

In [1]:
kalimat = ' python adalah bahasa yang '
kata = 'keren'
kalimat_full = kalimat + kata

print(kalimat_full) # menggabungkan 2 variabel string

 python adalah bahasa yang keren

In [89]:
# variabel global

kata = 'keren'

def myfunc():
    kata = 'fantastic'

    print('Python adalah bahasa yang', kata)


myfunc()

print('Python adalah bahasa yang', kata)

Python adalah bahasa yang fantastic
Python adalah bahasa yang keren

In [ ]:
# variabel lokal

kata = 'keren'

def myfunc():
    lokal = 'fantastic'

    print('Python adalah bahasa yang', kata)


myfunc()

print('Python adalah bahasa yang', lokal)

Python adalah bahasa yang keren

NameError: name 'lokal' is not defined

In [11]:
# Keyword Global

kata = 'keren'

lokal = 0

def myfunc():
    global lokal

    lokal = 'fantastic'
    

    print('Python adalah bahasa yang', lokal)


myfunc()

print('Python adalah bahasa yang', kata)

Python adalah bahasa yang fantastic
Python adalah bahasa yang keren

In [96]:
# memasukan nilai variabel ganda

x, y, z = 'jeruk', 'pisang', 'rambutan'

print(x)
print(y)
print(z)

jeruk
pisang
rambutan

In [2]:
# Operator 
# Operator aritmatika

# penjumlahan
print(2+3)
# pengurangan
print(1-2)
# perkalia
print(3*4)
# pembagian
print(4 / 5)
# sisa bagi

5
-1
12
0.8

In [3]:
print(10 % 3)
# Pangkat
print(10**2)
# pembagian bulat
print(10//3)
print(type(10//3))

1
100
3
<class 'int'>

In [ ]:
# Operator Penugasan (assignment operator)
# sama dengan (=)

a = 10
print(a)

# tambah sama dengan
a  = 10
a += 5
a +=5
a += 5
a += 5

print(a)

# Kali sama dengan 
a = 10
a *= 5
print (a)

# Pembagian sama dengan
a = 10
a /= 5

print(a)

10
30

In [103]:
# kurang sama dengan

a = 10
a-= 5
print(a)

5

50

2.0

In [109]:
# sisa bagi sama dengan
a = 10
a %= 3

print(a)

1

In [110]:
# pangkat sama dengan
a = 10
a **= 5

print(a)

100000

In [113]:
# pembulatan sama dengan
a = 10
a //= 3

print(a)

3

In [119]:
# Operator Perbandingan
# ==

print([1,2, 3, 4, 5, 6] == [1, 2, 3, 4, 5, 6])
print([1,2, 3, 4, 5, 6] == [7, 8, 9, 10, 11, 12])

True
False

In [118]:
# Tidak sama dengan (!=)

angka = [1, 2,3]

angka2 = [4, 5, 6]

print(angka != angka2)

True

In [122]:
# Lebih besar dari // lebih besar dari sama dengan 

print(3 > 2)
print(3 >= 2)

True
True

In [125]:
# Lebih kecil dari // lebih kecil dari sama dengan 

print(3 < 2)
print(3 <= 3)

False
True

In [128]:
# Operator Logika
# AND (True and True -> True)

x = True
y = False

print(x and y)

False

In [130]:
# Operator Logika
# AND (False and False -> False )

x = True
y = False

print(x or y)

True

In [131]:
# Operator Logika
# NOT

x = True
print(not x)

False

In [136]:
# Bitwise Operator
# AND

a = 13
b = 37

print(format(a, '08b'))
print(format(b, '08b'))
print(format(a & b, '08b'))

print(a & b)

00001101
00100101
00000101
5

In [138]:
# Bitwise Operator
# OR

a = 13
b = 37

print(format(a, '08b'))
print(format(b, '08b'))
print(format(a | b, '08b'))

print(a | b)

00001101
00100101
00101101
45

In [139]:
# Bitwise Operator
# XOR

a = 13
b = 37

print(format(a, '08b'))
print(format(b, '08b'))
print(format(a ^ b, '08b'))

print(a ^ b)

00001101
00100101
00101000
40

In [141]:
# Bitwise Operator
# NOT

a = 13

print(format(a, '08b'))
print(format(~a, '08b'))

print(~a)

00001101
-0001110
-14

In [142]:
# Operator shift left (<<)

a = 13

print(format(a, '08b'))
print(format(a<<2, '08b'))

print(a<<2)

00001101
00110100
52

In [143]:
# Operator shift right (<<)

a = 13

print(format(a, '08b'))
print(format(a>>2, '08b'))

print(a>>2)

00001101
00000011
3

In [145]:
# Operator membership
# in

list = [1, 2, 3, 4, 5]

print(2 in list)

True

In [147]:
# Operator membership
# not in

list = [1, 2, 3, 4, 5]

print(2 not in list)

False

In [149]:
# Operator identitas
# is

a = 15
b = 15

print(a is b)

True

In [151]:
# Operator identitas
# is not

a = 15
b = 15

print(a is not b)

False

In [ ]:

a = [1, 2, 3]
b = [1, 2, 3]

print(a is b)
print(a == b)

# is membandingkan memory, tidak hanya nilai

False
True

In [4]:
a = 3 
b = 3.0

print(a is b)
print(a == b)

False
True

In [5]:
def aloha():
    return "kelompok"

my_name = aloha()
print(my_name)

kelompok