In [13]:
# Mengakses elemen dalam set

member = {"senin", "selasa", "rabu", "kamis"}
for x in member:
    print(x)

print(type(member))

kamis
senin
rabu
selasa
<class 'set'>

In [15]:
# memeriksa elemen dalam set

member = {"senin", "selasa", "rabu", "kamis"}
if "jumat" in member:
    print("YES")
elif "senin" in member:
    print("Ya")
else:
    print("NO")

Ya

In [18]:
# menambahkan elemen dalam set
member = {"senin", "selasa", "rabu", "kamis"}
print(member)
member.add("Jumat")
print(member)

print("")

# menambahkan elemen dengan update
anggota = {"januari", "februari", "maret"}
print(anggota)
anggota.update({"1 januari", "2 februari", "3 maret"})
print(anggota)

{'kamis', 'senin', 'rabu', 'selasa'}
{'rabu', 'selasa', 'Jumat', 'kamis', 'senin'}

{'februari', 'januari', 'maret'}
{'1 januari', '2 februari', '3 maret', 'februari', 'januari', 'maret'}

In [20]:
# Mengukur jumlah elemen dalam set
anggota = {"januari", "februari", "maret"}
print(len(anggota))

3

In [1]:
# menghapus satu elemen dalam set
rank = {'grandmaster', 'epic', 'legend', 'mythic', 'mythic glory'}
rank.remove('grandmaster')
print(rank)

# menghapus dengan fungsi pop()
greece = {'zeus', 'hades', 'poseidon', 'kronos', 'kratos'}
greece.pop()
print(greece)

# menghapus set dengan fungsi clear()
greece = {'zeus', 'hades', 'poseidon', 'kronos', 'kratos'}
greece.clear()
print(greece)

# menghapus menggunakan discard
greece = {'zeus', 'hades', 'poseidon', 'kronos', 'kratos'}
greece.discard("zeus")
print(greece)

{'mythic', 'epic', 'legend', 'mythic glory'}
{'kronos', 'hades', 'poseidon', 'zeus'}
set()
{'kratos', 'kronos', 'hades', 'poseidon'}

In [23]:
# menghapus set dengan fungsi clear()
greece = {'zeus', 'hades', 'poseidon', 'kronos', 'kratos'}
greece.clear()
print(greece)

del greece
print(greece)

set()

NameError: name 'greece' is not defined

In [ ]:
# menggabungkan set
# menggunakan union()
rank = {'grandmaster', 'epic', 'legend', 'mythic', 'mythic glory'}
bintang = {1, 2, 3, 4, 5}

rank_bintang = rank.union(bintang)
print(rank_bintang)

# menggunakan update
rank.update(bintang)
print(rank)

{'grandmaster', 1, 2, 3, 4, 5, 'legend', 'epic', 'mythic', 'mythic glory'}
{'grandmaster', 1, 2, 3, 4, 5, 'legend', 'epic', 'mythic', 'mythic glory'}

In [26]:
# mengakses elemen dalam dictionary
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}
x = overview['film']
print(x)

y = overview['tanggal rilis']
print(y)


x = overview.get('film')
print(x)
y = overview.get('tanggal rilis')
print(y)

high school musical
20 januari
high school musical
20 januari

In [27]:
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}
print('film awal', overview.get('film'))
overview['film'] = 'max out'
print('film diubah', overview.get('film'))

overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}

for x in overview: 
    print(overview[x])

film awal high school musical
film diubah max out
high school musical
20 januari
2006

In [28]:
overview = {'film': 'high school musical',
            'tanggal rilis': '20 januari',
            'tahun': '2006'}

print(len(overview))

3

In [29]:
# menambahkan item ke dictionary
kamusdiri = {'nama': 'Elang', 'umur': '20', 'hobi': 'mengaji', 'rumah': '3'}
kamusdiri['mobil'] = '3'
print(kamusdiri)

{'nama': 'Elang', 'umur': '20', 'hobi': 'mengaji', 'rumah': '3', 'mobil': '3'}

In [30]:
# menghapus item dictionary dengan fungsi pop()
kamusdiri.pop('hobi')
print(kamusdiri)

# menghapus item terakhir dengan popitem()
kamusdiri.popitem()
print(kamusdiri)

# mengosongkan deictionary dengan fungsi clear
kamusdiri.clear()
print(kamusdiri)

{'nama': 'Elang', 'umur': '20', 'rumah': '3', 'mobil': '3'}
{'nama': 'Elang', 'umur': '20', 'rumah': '3'}
{}

In [2]:
# menghapus dictionary dengan del
kamusdiri = {'nama': 'Elang', 'umur': '20', 'hobi': 'mengaji', 'rumah': '3'}
del kamusdiri
print(kamusdiri)

NameError: name 'kamusdiri' is not defined

In [32]:
# mengcopy dictionary
kamusdiri = {'nama': 'Elang',
             'umur': '20',
             'rumah': '3',
             'mobil': '3'}
print(kamusdiri)

kamusdiri2 = kamusdiri.copy()
print(kamusdiri2)

{'nama': 'Elang', 'umur': '20', 'rumah': '3', 'mobil': '3'}
{'nama': 'Elang', 'umur': '20', 'rumah': '3', 'mobil': '3'}

In [33]:
kamusdiri3 = dict(kamusdiri)
print(kamusdiri3)

{'nama': 'Elang', 'umur': '20', 'rumah': '3', 'mobil': '3'}

In [34]:
senin = {
        'matkul': 'kalkulus',
        'sks': 3
}
selasa = {
        'matkul': 'aljabar linear',
        'sks': 2
}
rabu = {
        'matkul': 'kimia dasar',
        'sks': 2
}

jadwal = {
        'senin': senin,
        'selasa' : selasa,
        'rabu' : rabu
}

print(jadwal)

{'senin': {'matkul': 'kalkulus', 'sks': 3}, 'selasa': {'matkul': 'aljabar linear', 'sks': 2}, 'rabu': {'matkul': 'kimia dasar', 'sks': 2}}